.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}